.home-page{
    width: 100%;
    border: 1px ;
}
.navigation-bar{
    width: 30%;
    height: 870px;
}
.instagram-word-logo-box{
    height: 60px;
    width: 100%;
}
.instagram-word-logo{
    background-image: url(https://www.pngitem.com/pimgs/m/132-1327993_instagram-logo-word-png-transparent-png.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 30px;
    height: 100%;
}
.home-word{
    display: flex;
}
.home{
    display: flex;
    align-items: center;
    margin-left: 45px;
}
.instagram-home-word{
    padding-left: 1rem;
}
.icons{
    height: 23px;
    width: 23px;
}
