.maincontainer{
    width: 20%;
}
.instagram-img{
    background-image: url(https://www.pngitem.com/pimgs/m/132-1327993_instagram-logo-word-png-transparent-png.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 30px;
    height: 50px;
    width: 200px;
    margin-left: 45px;
}
.navigation-bar{
   
}
.Home-btns{
    height: 50px;
    border: none;
    background-color: transparent;
}
.icons{
    height: 30px;
    width: 30px;
    padding: 10px;
    font-size: 30px;
}
.Bar{
    margin-left: 45px;
    display: flex;
    width: 200px;
    border-radius: 10px;
}
.Bar:hover{
    background-color: rgb(175, 252, 226);
}
.More{
    margin-top: 2rem;
}